
@import url(../fonts/Almarai.css);

a, body, div, form, html, img, input, label, p, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Almarai, sans-serif, Arial;
	direction: rtl;


}

body, html {
    min-height: 100%;
    overflow-x: hidden
}
body {
    background: #455a64;
}

a {
    color: #486173
}

input, label {
    vertical-align: middle;
    white-space: normal;
    background: 0 0;
    line-height: 1
}

label {
    position: relative;
    display: block
}

p::first-letter {
    text-transform: uppercase
}

.main {
    min-height: calc(100vh - 90px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.ie-fixMinHeight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ico {
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    margin-left: 14px
}

.ico2 {
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    margin-left: 14px
}

.logo {
    max-width: 200px;
    display: block;
    margin: 0 auto 10px auto
}

.logo * {
    fill: #fff
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 30px !important
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 18px !important
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px
}

.wrap {
    margin: auto;
    padding: 40px;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out
}

@media only screen and (min-width: 1px) and (max-width: 575px) {
    .wrap {
        width: 100%
    }
}

form {
    width: 100%;
    margin-bottom: 20px
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.info {
    color: #fff;
    text-align: center;
    margin-bottom: 30px
}

input {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    direction: ltr;
    text-align: center
}

input:focus {
    outline: 0
}

input[type=password], input[type=text], input[type=tel] {
    width: 100%;
    border: 1px solid;
    background-color: rgba(255, 255, 255, .8);
    height: 44px;
    padding: 3px 20px 3px 40px;
    margin-bottom: 20px;
    border-radius: 6px;
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus {
    -webkit-box-shadow: 0 0 5px 0 #fff;
    box-shadow: 0 0 5px 0 #fff
}

.bt {
    opacity: .9
}

.sell-points, input[type=submit] {
    background: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
	margin: 10px auto;
    height: 44px;
    border-radius: 6px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out
}

.sell-points:hover, input[type=submit]:focus, input[type=submit]:hover {
    background: #33404a
}
.trial {
background: #000;
    color: #fff;
    border: 0;
	margin: 10px auto;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    padding: 10px 0;
}
.trial:hover  {
 background: #33404a
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px
}

table td {
    color: #fff;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 4px 10px 0
}

table td:first-child {
    font-weight: 700
}

.info.alert {
    color: #da3d41
}

@media (min-width: 576px) {
    .wrap {
        width: 410px
    }

    * {
        font-size: 14px !important
    }
}

#navbar {
    background: linear-gradient(244deg, hsla(deg 29% 46%) 50%, hsla(191.32, 50.68%, 56.45%, 0) 50%);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top .3s
}

#navbar a {
    white-space: nowrap;
    float: right;
    width: 25%;
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none
}

#navbar a:hover {
    background: linear-gradient(245deg, hsl(190deg 35% 26%) 82%, hsla(191.32, 50.68%, 56.45%, 0) 0);
    color: #fff
}

#navbarReverse a:hover {
    background: linear-gradient(245deg, hsl(190deg 35% 26%) 82%, hsla(191.32, 50.68%, 56.45%, 0) 0);
    color: #fff
}

@media only screen and (min-width: 1px) and (max-width: 390px) {
    td, th {
        font-size: 80%;
    }

    #navbar a {
        font-size: small
    }
}

.sell-points {
    padding: 11px;
    margin-bottom: 10px;
    height: 44px
}

.custom-wrap {
    padding: 0 40px 0 40px;
    margin-top: 100px
}

td, th {
    padding: 15px;
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
}

th {
    text-align: center
}

thead th {
    background-color: #2e3c5cdb
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, .3)
}

tbody td {
    text-align: center
}

tbody td:hover:before {
    content: "";
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, .2);
    z-index: -1
}
.address-title {
    text-align: center;
}
#alert-back3 {
position: fixed;
background-color: rgba(0,0,0,0.75);
width: 100%;
height: 100%;
top:0;
bottom:0;
right: 0;
left: 0;
z-index: 1000;
padding-top: 200px;
}
.alert3 {
    position: relative;
    padding: 20px;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
    text-align: center;
    direction: rtl;
    width: 40%;
    margin: 0 auto;
    animation-name: animatetop;
    animation-duration: 0.4s;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    font-size: 1.0rem;
	 text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	border-right: #000 solid 10px;
	border-left: #000 solid 5px;
	border-radius: 10px;

}

.closebtn3 {
    margin-right: 15px;
    color: #000;
    font-weight: bold;
    float: left;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn3:hover {
    color: black;
}
@media screen and (max-width: 700px) {
.alert3 {
  width: 90%;
}
}

@keyframes animatetop {
  from {top: -300px; opacity: 0;}
  to {top: 0; opacity: 1;}
}
@-webkit-keyframes animatetop {
  from {top: -300px; opacity: 0;}
  to {top: 0; opacity: 1;}

}12
.freenet a {color: white;}
.footer, .freenet {
    width: 90%;
	text-align: center;
    padding: 9px 6px;
    background: #353b48;
    box-shadow: 0 1px 3px #192a56;
    -webkit-box-shadow: 0 1px 3px #192a56;
    -moz-box-shadow: 0 1px 3px #192a56;
    position: relative;
    overflow: hidden;
    margin: 9px auto;
}
.freenet {background: #f44236;}
.footer a, .freenet a {color: white; text-decoration: none;}
.footer:after, .freenet:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -200%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%);
}
.footer:hover:after, .freenet:hover:after {
    opacity: 1;
    top: -30%;
    left: -1%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}
.gif{
	text-align: center;
}
/* toggles */


#toggles:before,*:after{
/*transition*/
-webkit-transition:.25s ease-in-out;
   -moz-transition:.25s ease-in-out;
     -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out;
}


#toggles{
width:50px;
margin:auto;
text-align:center;

}
.ios-toggle,.ios-toggle:active{
height:0;
width:0;
opacity:0;
border:none;
outline:none;
}
.checkbox-label{
display:block;
position:relative;
padding:10px;
margin-bottom:20px;
font-size:14px;
line-height:8px;
width:100%;
height:25px;
/*border-radius*/
-webkit-border-radius:18px;
   -moz-border-radius:18px;
        border-radius:18px;
background:#dd2c00;
cursor:pointer;
}
.checkbox-label:before{
content:'';
display:block;
position:absolute;
z-index:1;
line-height:34px;
text-indent:40px;
height:25px;
width:25px;
/*border-radius*/
-webkit-border-radius:100%;
   -moz-border-radius:100%;
        border-radius:100%;
top:0px;
left:0px;
right:auto;
background:white;
/*box-shadow*/
-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
   -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
content:attr(data-off);
display:block;
position:absolute;
z-index:0;
top:0;
left:-320px;
padding:10px;
height:100%;
width:300px;
text-align:right;
color:#dd2c00;
white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
   -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
        box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
left:calc(100% - 25px);
/*box-shadow*/
-webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
   -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
        box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
content:attr(data-on);
left:50px;
width:36px;
}
/* GREEN CHECKBOX */

#remember + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #dddddd;,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #dddddd;,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #dddddd;,0 0 0 2px #dddddd;
}
#remember:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 18px #00c853;,0 0 0 2px #00c853;
   -moz-box-shadow:inset 0 0 0 18px #00c853;,0 0 0 2px #00c853;
        box-shadow:inset 0 0 0 18px #00c853;,0 0 0 2px #00c853;
}
#remember:checked + .checkbox-label:after{
color:#00c853;
}
/* RED CHECKBOX */

#checkbox2 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #f35f42,0 0 0 2px #dddddd;
}
#checkbox2:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
   -moz-box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
        box-shadow:inset 0 0 0 20px #f35f42,0 0 0 2px #f35f42;
}
#checkbox2:checked + .checkbox-label:after{
color:#f35f42;
}
/* BLUE CHECKBOX */

#checkbox3 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
}
#checkbox3:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
   -moz-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
        box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
}
#checkbox3:checked + .checkbox-label:after{
color:#1fc1c8;
}




.container {
  width:350px;
	max-width: 100%;
  height:100px;
}
.container h5 {
  color:rgba(100,100,100,0.9);
}
.container .progress-bar {
  width:0%;
  height:5px;
  background:linear-gradient(to right,rgb(76,217,105),rgb(90,200,250),rgb(0,132,255),rgb(52,170,220),rgb(88,86,217),rgb(255,45,83));
  margin-top:10px;
  background-size:350px 5px;
  border-radius:10px;
  animation:loading 2s ease-in-out forwards;
}

.container .shadow {
  width:100%;
  height:30px;
  background:linear-gradient(to bottom,rgba(100,100,100,0.13),rgba(100,100,100,0.07),transparent);
  transform:skew(20deg) translate(3px,5px);
}
@keyframes loading {
  to {
    width:100%;
  }
}

/* toggles */

@keyframes anime {
  from {color: #D60000;}
  to {color: #0085DE;}
}
@-webkit-keyframes anime {
  from {color: #D60000;}
  to {color: #0085DE;}
}
.animate {
  margin: 25px 0 0px 0;
  animation: anime .25s infinite alternate;
  -webkit-animation: anime .25s infinite alternate;
  font-weight: bold;
}
